.section.scrollable.quotes.section-red(style='z-index: 4;')
  .section-content
    .le-quotes
      .quote
        span.message A very creative and dedicated group of individuals.
        span.author Ram Rajagopalan - SanDisk Corp.
      .quote
        span.message We've been featured as the best new app on the app store, kudos!
        span.author Neil Karasic - Saving Star
      .quote
        span.message Not only talented, but organized, efficient and professional.
        span.author Jenn Godbout - Adobe Systems Inc.
.scrollable-spacer(style='height: 1428px;')
